//- Computer
article.computer
  .computer__container
    .computer__info
      h2.computer__title Most Secure Trading Platform on the Market
      p.computer__description Your keys, your coins. From order discovery all the way to settlement, we are end-to-end decentralized.
      p.computer__description You are protected by the network from hacks, trade manipulations, exit scams, and front-running.

  .computer__parts
    .computer__parts-container
      img.computer__part.computer__parts-laptop(src=require('images/laptop/lap.png'))
      img.computer__part.computer__parts-screen2(src=require('images/laptop/screen_2.png'))
      img.computer__part.computer__parts-screen1(src=require('images/laptop/screen_1.png'))
      img.computer__part.computer__parts-lock(src=require('images/laptop/lock.png'))
      img.computer__part.computer__parts-shield(src=require('images/laptop/shield.png'))
      img.computer__part.computer__parts-key(src=require('images/laptop/key.png'))

    svg.computer__wires.computer__wires--left(xmlns='http://www.w3.org/2000/svg' width='527' height='302' viewBox='0 0 527 302')
      defs
        radialGradient#wires-left--a(cx='49.997%' cy='139.243%' r='133.591%' fx='49.997%' fy='139.243%' gradientTransform='matrix(.275 0 0 1 .362 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--b(cx='49.941%' cy='50.028%' r='51.514%' fx='49.941%' fy='50.028%' gradientTransform='matrix(.95301 0 0 1 .023 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--c(cx='50.029%' cy='50.017%' r='57.931%' fx='50.029%' fy='50.017%' gradientTransform='matrix(1 0 0 .7759 0 .112)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--d(cx='49.995%' cy='102.298%' r='94.126%' fx='49.995%' fy='102.298%' gradientTransform='matrix(.4064 0 0 1 .297 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--e(cy='186.975%' r='52.692%' fx='50%' fy='186.975%' gradientTransform='matrix(.90962 0 0 1 .045 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.5%' stop-color='#FFF' stop-opacity='.145')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--f(cx='50.074%' cy='472.551%' r='95.648%' fx='50.074%' fy='472.551%' gradientTransform='matrix(.39934 0 0 1 .3 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--g(cx='50.005%' cy='30.118%' r='54.584%' fx='50.005%' fy='30.118%' gradientTransform='matrix(.8569 0 0 1 .072 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.5%' stop-color='#FFF' stop-opacity='.145')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--h(cx='50.001%' cy='583.218%' r='108.795%' fx='50.001%' fy='583.218%' gradientTransform='matrix(.34443 0 0 1 .328 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--i(cx='49.987%' cy='118.694%' r='100.314%' fx='49.987%' fy='118.694%' gradientTransform='matrix(.3777 0 0 1 .311 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--j(cx='50.05%' cy='124.011%' r='57.524%' fx='50.05%' fy='124.011%' gradientTransform='matrix(.78359 0 0 1 .108 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--k(cx='50.009%' cy='-134.201%' r='42.823%' fx='50.009%' fy='-134.201%' gradientTransform='matrix(.90937 0 0 1 .045 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.38%' stop-color='#FFF' stop-opacity='.146')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--l(cx='49.953%' cy='-85.917%' r='95.658%' fx='49.953%' fy='-85.917%' gradientTransform='matrix(.39934 0 0 1 .3 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='98.26%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--m(cy='49.987%' r='109.275%' fx='50%' fy='49.987%' gradientTransform='matrix(.34274 0 0 1 .329 0)')
          stop(offset='0%' stop-color='#FFF' stop-opacity='0')
          stop(offset='7.21%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='51.01%' stop-color='#FFF')
          stop(offset='97.82%' stop-color='#FFF' stop-opacity='.044')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-left--n(cx='50.002%' cy='49.972%' r='100.292%' fx='50.002%' fy='49.972%' gradientTransform='matrix(.37784 0 0 1 .311 0)')
          stop(offset='43.15%' stop-color='#FFF')
          stop(offset='91.96%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        linearGradient#wires-left--o(x1='49.947%' x2='49.947%' y1='100.401%' y2='-.446%')
          stop(offset='0%' stop-color='#FFF' stop-opacity='0')
          stop(offset='59.72%' stop-color='#FFF')
          stop(offset='98.26%' stop-color='#FFF' stop-opacity='0')
      g(fill='none' fill-rule='evenodd')
        g(opacity='.1')
          path(stroke='url(#wires-left--a)' stroke-width='1.582' d='M562.215 149.096l-78.938-44.373c-4.271-2.373-12.023-1.898-17.322 1.108l-82.023 46.824c-4.35 2.452-10.678 2.927-14.158.95l-56-31.48c-3.48-1.978-2.768-5.537 1.582-8.069l28.237-16.135c2.531-1.503 4.192-3.322 4.509-5.141.395-1.899-.554-3.56-2.61-4.667l-40.577-22.859c-2.056-1.186-4.983-1.66-8.305-1.423-3.243.237-6.486 1.107-9.096 2.61l-86.373 49.277c-4.35 2.451-10.678 2.926-14.158.949l-55.446-31.243s-6.723-3.718 1.582-8.068L164.44 59.48c2.53-1.503 4.192-3.322 4.508-5.141.317-1.898-.554-3.56-2.61-4.667l-63.91-35.988c-2.056-1.187-4.983-1.661-8.305-1.424-3.322.237-6.486 1.107-9.096 2.61L63.593 27.13c-4.35 2.452-10.678 2.926-14.158.95L.316.315' transform='matrix(-1 0 0 1 598 83.254)')
          path(stroke='url(#wires-left--b)' stroke-width='1.582' d='M55.525.712L4.904 29.582c-5.3 3.006-6.17 7.435-1.898 9.808l52.52 29.503c3.48 1.977 2.768 5.536-1.582 8.067L21.356 95.548c-5.3 3.006-6.17 7.435-1.898 9.808l39.31 22.147c2.057 1.186 4.983 1.66 8.305 1.424 3.243-.238 6.486-1.108 9.096-2.61l41.842-23.888c2.136-1.186 4.746-1.977 7.435-2.135 2.69-.158 5.062.237 6.803 1.186l38.836 21.83c3.48 1.978 2.768 5.537-1.582 8.069l-38.757 22.146c-5.3 3.006-6.17 7.435-1.899 9.808l46.034 25.944c3.48 1.977 2.769 5.537-1.582 8.068l-42.474 24.203c-5.3 3.006-6.17 7.435-1.898 9.808l49.988 28.158c4.271 2.373 12.023 1.898 17.322-1.107l77.198-44.057' transform='matrix(-1 0 0 1 295.853 -52)')
          path(stroke='url(#wires-left--c)' stroke-width='1.582' d='M.633.316l151.469 85.266c1.66.95 2.452 2.294 2.135 3.797-.316 1.502-1.582 3.005-3.717 4.192l-28.87 16.452c-5.3 3.005-6.17 7.435-1.899 9.808l25.707 14.474c4.27 2.373 12.022 1.898 17.322-1.107l20.96-11.944c4.35-2.452 10.678-2.926 14.158-.949l26.656 15.028c1.66.95 2.452 2.294 2.135 3.797-.316 1.503-1.582 3.006-3.717 4.192L94.994 216.328c-2.53 1.503-4.192 3.322-4.508 5.14-.317 1.9.554 3.56 2.61 4.668l146.881 82.655' transform='matrix(-1 0 0 1 548.96 -24.316)')
          path(stroke='url(#wires-left--d)' stroke-width='1.582' d='M510.802 132.723l-64.226 36.622c-4.35 2.452-10.678 2.926-14.158.949l-39.31-22.147c-2.057-1.187-4.984-1.661-8.306-1.424-3.322.237-6.486 1.108-9.096 2.61l-59.796 34.09c-2.136 1.187-4.746 1.978-7.435 2.136-2.69.159-5.063-.237-6.803-1.186l-27.209-15.424c-4.27-2.373-12.022-1.898-17.322 1.107l-61.616 35.198c-4.35 2.452-10.678 2.927-14.158.95l-63.514-35.752c-1.66-.95-2.452-2.294-2.135-3.797.316-1.502 1.581-3.005 3.717-4.192l74.667-42.553c2.53-1.503 4.192-3.322 4.508-5.142.396-1.898-.554-3.559-2.61-4.666L.395 0' transform='matrix(-1 0 0 1 503.085 -40.927)')
        g(stroke-width='1.582' opacity='.5')
          path(stroke='url(#wires-left--e)' d='M356.644.475L268.531 50.78c-2.294 1.344-3.717 2.926-4.034 4.587-.316 1.661.554 3.164 2.373 4.192l59.164 33.3c1.503.87 2.215 2.056 1.898 3.48-.316 1.424-1.424 2.69-3.322 3.797l-62.486 35.672c-3.875 2.215-9.57 2.61-12.734.87l-20.407-11.469c-3.797-2.136-10.836-1.661-15.582 1.028l-45.322 25.865c-2.294 1.344-3.717 2.926-4.034 4.587-.316 1.661.475 3.164 2.373 4.192l62.249 35.04c1.502.87 2.214 2.056 1.898 3.48-.316 1.424-1.424 2.69-3.322 3.797l-61.932 35.356c-3.876 2.214-9.57 2.61-12.735.87l-22.621-12.735c-1.82-1.028-4.509-1.503-7.435-1.265-2.927.158-5.853 1.028-8.147 2.373L42.949 268.53c-4.746 2.69-5.537 6.644-1.66 8.78l15.423 8.7c3.164 1.74 2.53 4.983-1.424 7.198L.475 324.452' transform='matrix(-1 0 0 1 393.932 -17.198)')
          path(stroke='url(#wires-left--f)' d='M.395 158.192l36.464 20.486c1.819 1.028 4.508 1.503 7.435 1.266 2.926-.159 5.853-1.029 8.147-2.373l58.61-33.458c1.898-1.107 4.271-1.74 6.644-1.898 2.373-.159 4.587.237 6.09 1.107l23.492 13.21c3.796 2.135 10.836 1.66 15.582-1.03l43.898-25.073c4.746-2.689 5.537-6.644 1.661-8.858l-30.136-17.006c-1.502-.87-2.214-2.057-1.898-3.48.237-1.345 1.424-2.69 3.322-3.797l43.345-24.52c3.876-2.214 9.57-2.61 12.734-.87l27.921 15.74c3.797 2.136 10.836 1.661 15.582-1.028l51.413-29.344c3.875-2.215 9.57-2.61 12.734-.87l30.61 17.242c3.797 2.136 10.836 1.661 15.582-1.028l55.842-31.876c2.294-1.344 3.717-2.926 4.034-4.587.316-1.661-.554-3.164-2.373-4.192L391.525.633' transform='matrix(-1 0 0 1 539.469 -10.08)')
          path(stroke='url(#wires-left--g)' d='M273.514 234.362l-45.955-25.865c-1.503-.87-2.214-2.056-1.898-3.48.316-1.424 1.424-2.69 3.322-3.797l22.226-12.655c4.746-2.69 5.537-6.644 1.661-8.78l-60.904-34.248c-1.82-1.029-4.508-1.503-7.435-1.266-2.926.158-5.853 1.028-8.147 2.373l-38.599 21.989c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.158-4.587-.237-6.09-1.107l-23.492-13.21c-3.084-1.74-2.53-4.982 1.424-7.197l27.842-15.898c4.746-2.69 5.537-6.644 1.66-8.78l-71.581-40.26c-3.085-1.74-2.531-4.983 1.424-7.198l28.158-16.056c4.746-2.69 5.537-6.644 1.66-8.859L.476.396' transform='matrix(-1 0 0 1 516.531 48.452)')
          path(stroke='url(#wires-left--h)' d='M554.226.395l-164.045 93.65c-3.876 2.215-9.57 2.61-12.735.87L285.22 43.028c-1.819-1.028-4.508-1.503-7.435-1.265-2.926.158-5.853 1.028-8.147 2.373L239.82 61.14c-4.746 2.69-5.537 6.644-1.66 8.859l15.107 8.542c3.163 1.74 2.53 4.983-1.424 7.198l-28.712 16.373c-1.898 1.107-4.271 1.74-6.644 1.898-2.373.158-4.588-.237-6.09-1.107l-20.803-11.706c-1.819-1.029-4.508-1.503-7.435-1.266-2.926.158-5.853 1.028-8.147 2.373L.554 191.096' transform='matrix(-1 0 0 1 563.989 114.102)')
          path(stroke='url(#wires-left--i)' d='M.395.554L90.96 51.492c3.164 1.74 2.532 4.983-1.423 7.197l-8.384 4.746c-2.294 1.345-3.718 2.927-4.034 4.588-.317 1.66.474 3.163 2.373 4.192l54.655 30.768c3.797 2.136 10.836 1.661 15.582-1.028l14.237-8.147c1.898-1.107 4.271-1.74 6.644-1.898 2.373-.159 4.588.237 6.09 1.107l19.063 10.678c1.503.87 2.214 2.056 1.898 3.48-.237 1.345-1.424 2.69-3.322 3.797l-19.22 10.994c-4.746 2.69-5.537 6.644-1.661 8.78l70.079 39.469c3.796 2.135 10.836 1.66 15.582-1.029L453.14 58.452' transform='matrix(-1 0 0 1 450.09 6.531)')
          path(stroke='url(#wires-left--j)' d='M319.548.237l46.271 26.023c1.503.87 2.215 2.056 1.899 3.401-.238 1.345-1.424 2.69-3.323 3.797L320.418 58.53c-2.294 1.345-3.717 2.927-4.034 4.588-.316 1.66.475 3.163 2.373 4.192l43.107 24.203c1.503.87 2.215 2.057 1.899 3.48-.238 1.345-1.424 2.69-3.322 3.797l-30.452 17.401c-2.294 1.345-3.718 2.927-4.034 4.588-.317 1.66.474 3.164 2.373 4.192l44.452 24.994c3.164 1.74 2.53 4.983-1.424 7.198l-71.028 40.576c-3.876 2.215-9.57 2.61-12.735.87l-53.785-30.294c-1.82-1.028-4.509-1.502-7.435-1.265-2.927.158-5.853 1.028-8.147 2.373L0 293.92' transform='matrix(-1 0 0 1 575.853 -10.87)')
        g(stroke-width='1.582')
          path(stroke='url(#wires-left--k)' d='M395.797.08L340.983 31.4c-4.746 2.69-5.537 6.644-1.661 8.859l15.424 8.7c1.503.87 2.214 2.057 1.898 3.402-.237 1.344-1.424 2.689-3.322 3.796l-71.424 40.735c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.158-4.587-.237-6.09-1.107l-22.622-12.735c-1.819-1.028-4.508-1.503-7.435-1.265-2.926.158-5.853 1.028-8.147 2.293l-61.932 35.356c-4.746 2.69-5.536 6.644-1.66 8.78l62.248 35.04c1.503.87 2.215 2.056 1.898 3.48-.316 1.423-1.424 2.689-3.322 3.796l-45.322 25.865c-1.898 1.107-4.271 1.74-6.644 1.898-2.373.158-4.588-.237-6.09-1.107l-20.407-11.47c-3.797-2.135-10.757-1.66-15.582 1.03L71.66 224.315c-4.746 2.69-5.537 6.644-1.661 8.86l59.164 33.299c3.085 1.74 2.53 4.983-1.424 7.197l-88.034 50.226' transform='matrix(-1 0 0 1 565.57 -17.198)')
          path(stroke='url(#wires-left--l)' d='M542.757 159.774l-36.463-20.486c-3.797-2.135-10.836-1.66-15.582 1.028l-58.61 33.458c-3.876 2.215-9.57 2.61-12.735.87l-23.491-13.288c-3.797-2.136-10.836-1.661-15.582 1.028l-43.899 25.074c-2.293 1.344-3.717 2.926-4.033 4.587-.317 1.661.474 3.164 2.372 4.192l30.136 17.006c1.503.87 2.215 2.056 1.898 3.48-.316 1.424-1.423 2.69-3.322 3.797l-43.344 24.678c-3.876 2.214-9.57 2.61-12.735.87l-27.92-15.74c-3.797-2.136-10.837-1.661-15.583 1.028L212.452 260.7c-3.876 2.214-9.57 2.61-12.734.87l-30.61-17.243c-3.797-2.136-10.758-1.661-15.583 1.028l-55.841 31.876c-4.746 2.689-5.537 6.644-1.661 8.78l55.604 31.321' transform='matrix(-1 0 0 1 565.57 -17.198)')
          path(stroke='url(#wires-left--m)' d='M561.424 4.508l-169.187 96.498c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.158-4.587-.237-6.09-1.107L358.7 90.169c-3.797-2.135-10.837-1.66-15.582 1.029l-28.633 16.373c-4.746 2.689-5.537 6.644-1.661 8.858l15.107 8.543c3.164 1.74 2.531 4.983-1.424 7.197l-29.819 17.006c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.159-4.587-.237-6.09-1.107L191.808 98.08c-1.82-1.028-4.509-1.503-7.435-1.265-2.927.158-5.853 1.028-8.147 2.293l-164.045 93.65' transform='matrix(-1 0 0 1 565.57 -17.198)')
          path(stroke='url(#wires-left--n)' d='M453.379 171.085l-90.565-50.938c-1.503-.87-2.215-2.057-1.899-3.48.317-1.424 1.424-2.69 3.322-3.797l8.384-4.746c2.294-1.344 3.718-2.926 4.034-4.587.317-1.661-.553-3.164-2.373-4.192l-54.655-30.769c-3.796-2.135-10.836-1.66-15.582 1.029l-14.237 8.146c-3.876 2.215-9.57 2.61-12.735.87l-19.062-10.677c-1.503-.87-2.214-2.057-1.898-3.48.316-1.424 1.424-2.69 3.322-3.797l19.22-10.995c2.294-1.344 3.718-2.926 4.034-4.587.317-1.661-.474-3.164-2.373-4.192l-70.079-39.47C208.418.396 205.73-.078 202.802.08c-2.926.158-5.853 1.028-8.147 2.294L.712 113.107' transform='matrix(-1 0 0 1 565.57 112.52)')
          path(stroke='url(#wires-left--o)' d='M55.92 294.08L9.65 268.055c-3.164-1.74-2.531-4.983 1.423-7.197l43.899-25.074c2.294-1.344 3.717-2.926 4.034-4.587.316-1.661-.475-3.164-2.373-4.192l-43.108-24.204c-1.502-.87-2.214-2.056-1.898-3.48.317-1.424 1.424-2.69 3.322-3.797l30.452-17.4c4.746-2.69 5.537-6.645 1.661-8.78L2.61 144.35c-3.164-1.74-2.53-4.983 1.424-7.197L75.14 96.497c1.899-1.107 4.271-1.74 6.644-1.898 2.373-.158 4.588.237 6.09 1.107L141.662 126c1.82 1.028 4.508 1.503 7.435 1.345 2.927-.159 5.853-1.029 8.147-2.294L375.548.475' transform='matrix(-1 0 0 1 361.503 7.322)')

    svg.computer__wires.computer__wires--right(xmlns='http://www.w3.org/2000/svg' width='527' height='302' viewBox='0 0 527 302')
      defs
        radialGradient#wires-right--a(cx='49.997%' cy='139.243%' r='133.591%' fx='49.997%' fy='139.243%' gradientTransform='matrix(.275 0 0 1 .362 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--b(cx='49.941%' cy='50.028%' r='51.514%' fx='49.941%' fy='50.028%' gradientTransform='matrix(.95301 0 0 1 .023 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--c(cx='50.029%' cy='50.017%' r='57.931%' fx='50.029%' fy='50.017%' gradientTransform='matrix(1 0 0 .7759 0 .112)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--d(cx='49.995%' cy='102.298%' r='94.126%' fx='49.995%' fy='102.298%' gradientTransform='matrix(.4064 0 0 1 .297 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--e(cy='186.975%' r='52.692%' fx='50%' fy='186.975%' gradientTransform='matrix(.90962 0 0 1 .045 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.5%' stop-color='#FFF' stop-opacity='.145')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--f(cx='50.074%' cy='472.551%' r='95.648%' fx='50.074%' fy='472.551%' gradientTransform='matrix(.39934 0 0 1 .3 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--g(cx='50.005%' cy='30.118%' r='54.584%' fx='50.005%' fy='30.118%' gradientTransform='matrix(.8569 0 0 1 .072 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.5%' stop-color='#FFF' stop-opacity='.145')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--h(cx='50.001%' cy='583.218%' r='108.795%' fx='50.001%' fy='583.218%' gradientTransform='matrix(.34443 0 0 1 .328 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.87%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--i(cx='49.987%' cy='118.694%' r='100.314%' fx='49.987%' fy='118.694%' gradientTransform='matrix(.3777 0 0 1 .311 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--j(cx='50.05%' cy='124.011%' r='57.524%' fx='50.05%' fy='124.011%' gradientTransform='matrix(.78359 0 0 1 .108 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--k(cx='50.009%' cy='-134.201%' r='42.823%' fx='50.009%' fy='-134.201%' gradientTransform='matrix(.90937 0 0 1 .045 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='85.38%' stop-color='#FFF' stop-opacity='.146')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--l(cx='49.953%' cy='-85.917%' r='95.658%' fx='49.953%' fy='-85.917%' gradientTransform='matrix(.39934 0 0 1 .3 0)')
          stop(offset='0%' stop-color='#FFF')
          stop(offset='98.26%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--m(cy='49.987%' r='109.275%' fx='50%' fy='49.987%' gradientTransform='matrix(.34274 0 0 1 .329 0)')
          stop(offset='0%' stop-color='#FFF' stop-opacity='0')
          stop(offset='7.21%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='51.01%' stop-color='#FFF')
          stop(offset='97.82%' stop-color='#FFF' stop-opacity='.044')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        radialGradient#wires-right--n(cx='50.002%' cy='49.972%' r='100.292%' fx='50.002%' fy='49.972%' gradientTransform='matrix(.37784 0 0 1 .311 0)')
          stop(offset='43.15%' stop-color='#FFF')
          stop(offset='91.96%' stop-color='#FFF' stop-opacity='.141')
          stop(offset='100%' stop-color='#FFF' stop-opacity='0')
        linearGradient#wires-right--o(x1='49.947%' x2='49.947%' y1='100.401%' y2='-.446%')
          stop(offset='0%' stop-color='#FFF' stop-opacity='0')
          stop(offset='59.72%' stop-color='#FFF')
          stop(offset='98.26%' stop-color='#FFF' stop-opacity='0')
      g(fill='none' fill-rule='evenodd')
        g(opacity='.1')
          path(stroke='url(#wires-right--a)' stroke-width='1.582' d='M562.215 149.096l-78.938-44.373c-4.271-2.373-12.023-1.898-17.322 1.108l-82.023 46.824c-4.35 2.452-10.678 2.927-14.158.95l-56-31.48c-3.48-1.978-2.768-5.537 1.582-8.069l28.237-16.135c2.531-1.503 4.192-3.322 4.509-5.141.395-1.899-.554-3.56-2.61-4.667l-40.577-22.859c-2.056-1.186-4.983-1.66-8.305-1.423-3.243.237-6.486 1.107-9.096 2.61l-86.373 49.277c-4.35 2.451-10.678 2.926-14.158.949l-55.446-31.243s-6.723-3.718 1.582-8.068L164.44 59.48c2.53-1.503 4.192-3.322 4.508-5.141.317-1.898-.554-3.56-2.61-4.667l-63.91-35.988c-2.056-1.187-4.983-1.661-8.305-1.424-3.322.237-6.486 1.107-9.096 2.61L63.593 27.13c-4.35 2.452-10.678 2.926-14.158.95L.316.315' transform='matrix(-1 0 0 1 598 83.254)')
          path(stroke='url(#wires-right--b)' stroke-width='1.582' d='M55.525.712L4.904 29.582c-5.3 3.006-6.17 7.435-1.898 9.808l52.52 29.503c3.48 1.977 2.768 5.536-1.582 8.067L21.356 95.548c-5.3 3.006-6.17 7.435-1.898 9.808l39.31 22.147c2.057 1.186 4.983 1.66 8.305 1.424 3.243-.238 6.486-1.108 9.096-2.61l41.842-23.888c2.136-1.186 4.746-1.977 7.435-2.135 2.69-.158 5.062.237 6.803 1.186l38.836 21.83c3.48 1.978 2.768 5.537-1.582 8.069l-38.757 22.146c-5.3 3.006-6.17 7.435-1.899 9.808l46.034 25.944c3.48 1.977 2.769 5.537-1.582 8.068l-42.474 24.203c-5.3 3.006-6.17 7.435-1.898 9.808l49.988 28.158c4.271 2.373 12.023 1.898 17.322-1.107l77.198-44.057' transform='matrix(-1 0 0 1 295.853 -52)')
          path(stroke='url(#wires-right--c)' stroke-width='1.582' d='M.633.316l151.469 85.266c1.66.95 2.452 2.294 2.135 3.797-.316 1.502-1.582 3.005-3.717 4.192l-28.87 16.452c-5.3 3.005-6.17 7.435-1.899 9.808l25.707 14.474c4.27 2.373 12.022 1.898 17.322-1.107l20.96-11.944c4.35-2.452 10.678-2.926 14.158-.949l26.656 15.028c1.66.95 2.452 2.294 2.135 3.797-.316 1.503-1.582 3.006-3.717 4.192L94.994 216.328c-2.53 1.503-4.192 3.322-4.508 5.14-.317 1.9.554 3.56 2.61 4.668l146.881 82.655' transform='matrix(-1 0 0 1 548.96 -24.316)')
          path(stroke='url(#wires-right--d)' stroke-width='1.582' d='M510.802 132.723l-64.226 36.622c-4.35 2.452-10.678 2.926-14.158.949l-39.31-22.147c-2.057-1.187-4.984-1.661-8.306-1.424-3.322.237-6.486 1.108-9.096 2.61l-59.796 34.09c-2.136 1.187-4.746 1.978-7.435 2.136-2.69.159-5.063-.237-6.803-1.186l-27.209-15.424c-4.27-2.373-12.022-1.898-17.322 1.107l-61.616 35.198c-4.35 2.452-10.678 2.927-14.158.95l-63.514-35.752c-1.66-.95-2.452-2.294-2.135-3.797.316-1.502 1.581-3.005 3.717-4.192l74.667-42.553c2.53-1.503 4.192-3.322 4.508-5.142.396-1.898-.554-3.559-2.61-4.666L.395 0' transform='matrix(-1 0 0 1 503.085 -40.927)')
        g(stroke-width='1.582' opacity='.5')
          path(stroke='url(#wires-right--e)' d='M356.644.475L268.531 50.78c-2.294 1.344-3.717 2.926-4.034 4.587-.316 1.661.554 3.164 2.373 4.192l59.164 33.3c1.503.87 2.215 2.056 1.898 3.48-.316 1.424-1.424 2.69-3.322 3.797l-62.486 35.672c-3.875 2.215-9.57 2.61-12.734.87l-20.407-11.469c-3.797-2.136-10.836-1.661-15.582 1.028l-45.322 25.865c-2.294 1.344-3.717 2.926-4.034 4.587-.316 1.661.475 3.164 2.373 4.192l62.249 35.04c1.502.87 2.214 2.056 1.898 3.48-.316 1.424-1.424 2.69-3.322 3.797l-61.932 35.356c-3.876 2.214-9.57 2.61-12.735.87l-22.621-12.735c-1.82-1.028-4.509-1.503-7.435-1.265-2.927.158-5.853 1.028-8.147 2.373L42.949 268.53c-4.746 2.69-5.537 6.644-1.66 8.78l15.423 8.7c3.164 1.74 2.53 4.983-1.424 7.198L.475 324.452' transform='matrix(-1 0 0 1 393.932 -17.198)')
          path(stroke='url(#wires-right--f)' d='M.395 158.192l36.464 20.486c1.819 1.028 4.508 1.503 7.435 1.266 2.926-.159 5.853-1.029 8.147-2.373l58.61-33.458c1.898-1.107 4.271-1.74 6.644-1.898 2.373-.159 4.587.237 6.09 1.107l23.492 13.21c3.796 2.135 10.836 1.66 15.582-1.03l43.898-25.073c4.746-2.689 5.537-6.644 1.661-8.858l-30.136-17.006c-1.502-.87-2.214-2.057-1.898-3.48.237-1.345 1.424-2.69 3.322-3.797l43.345-24.52c3.876-2.214 9.57-2.61 12.734-.87l27.921 15.74c3.797 2.136 10.836 1.661 15.582-1.028l51.413-29.344c3.875-2.215 9.57-2.61 12.734-.87l30.61 17.242c3.797 2.136 10.836 1.661 15.582-1.028l55.842-31.876c2.294-1.344 3.717-2.926 4.034-4.587.316-1.661-.554-3.164-2.373-4.192L391.525.633' transform='matrix(-1 0 0 1 539.469 -10.08)')
          path(stroke='url(#wires-right--g)' d='M273.514 234.362l-45.955-25.865c-1.503-.87-2.214-2.056-1.898-3.48.316-1.424 1.424-2.69 3.322-3.797l22.226-12.655c4.746-2.69 5.537-6.644 1.661-8.78l-60.904-34.248c-1.82-1.029-4.508-1.503-7.435-1.266-2.926.158-5.853 1.028-8.147 2.373l-38.599 21.989c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.158-4.587-.237-6.09-1.107l-23.492-13.21c-3.084-1.74-2.53-4.982 1.424-7.197l27.842-15.898c4.746-2.69 5.537-6.644 1.66-8.78l-71.581-40.26c-3.085-1.74-2.531-4.983 1.424-7.198l28.158-16.056c4.746-2.69 5.537-6.644 1.66-8.859L.476.396' transform='matrix(-1 0 0 1 516.531 48.452)')
          path(stroke='url(#wires-right--h)' d='M554.226.395l-164.045 93.65c-3.876 2.215-9.57 2.61-12.735.87L285.22 43.028c-1.819-1.028-4.508-1.503-7.435-1.265-2.926.158-5.853 1.028-8.147 2.373L239.82 61.14c-4.746 2.69-5.537 6.644-1.66 8.859l15.107 8.542c3.163 1.74 2.53 4.983-1.424 7.198l-28.712 16.373c-1.898 1.107-4.271 1.74-6.644 1.898-2.373.158-4.588-.237-6.09-1.107l-20.803-11.706c-1.819-1.029-4.508-1.503-7.435-1.266-2.926.158-5.853 1.028-8.147 2.373L.554 191.096' transform='matrix(-1 0 0 1 563.989 114.102)')
          path(stroke='url(#wires-right--i)' d='M.395.554L90.96 51.492c3.164 1.74 2.532 4.983-1.423 7.197l-8.384 4.746c-2.294 1.345-3.718 2.927-4.034 4.588-.317 1.66.474 3.163 2.373 4.192l54.655 30.768c3.797 2.136 10.836 1.661 15.582-1.028l14.237-8.147c1.898-1.107 4.271-1.74 6.644-1.898 2.373-.159 4.588.237 6.09 1.107l19.063 10.678c1.503.87 2.214 2.056 1.898 3.48-.237 1.345-1.424 2.69-3.322 3.797l-19.22 10.994c-4.746 2.69-5.537 6.644-1.661 8.78l70.079 39.469c3.796 2.135 10.836 1.66 15.582-1.029L453.14 58.452' transform='matrix(-1 0 0 1 450.09 6.531)')
          path(stroke='url(#wires-right--j)' d='M319.548.237l46.271 26.023c1.503.87 2.215 2.056 1.899 3.401-.238 1.345-1.424 2.69-3.323 3.797L320.418 58.53c-2.294 1.345-3.717 2.927-4.034 4.588-.316 1.66.475 3.163 2.373 4.192l43.107 24.203c1.503.87 2.215 2.057 1.899 3.48-.238 1.345-1.424 2.69-3.322 3.797l-30.452 17.401c-2.294 1.345-3.718 2.927-4.034 4.588-.317 1.66.474 3.164 2.373 4.192l44.452 24.994c3.164 1.74 2.53 4.983-1.424 7.198l-71.028 40.576c-3.876 2.215-9.57 2.61-12.735.87l-53.785-30.294c-1.82-1.028-4.509-1.502-7.435-1.265-2.927.158-5.853 1.028-8.147 2.373L0 293.92' transform='matrix(-1 0 0 1 575.853 -10.87)')
        g(stroke-width='1.582')
          path(stroke='url(#wires-right--k)' d='M395.797.08L340.983 31.4c-4.746 2.69-5.537 6.644-1.661 8.859l15.424 8.7c1.503.87 2.214 2.057 1.898 3.402-.237 1.344-1.424 2.689-3.322 3.796l-71.424 40.735c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.158-4.587-.237-6.09-1.107l-22.622-12.735c-1.819-1.028-4.508-1.503-7.435-1.265-2.926.158-5.853 1.028-8.147 2.293l-61.932 35.356c-4.746 2.69-5.536 6.644-1.66 8.78l62.248 35.04c1.503.87 2.215 2.056 1.898 3.48-.316 1.423-1.424 2.689-3.322 3.796l-45.322 25.865c-1.898 1.107-4.271 1.74-6.644 1.898-2.373.158-4.588-.237-6.09-1.107l-20.407-11.47c-3.797-2.135-10.757-1.66-15.582 1.03L71.66 224.315c-4.746 2.69-5.537 6.644-1.661 8.86l59.164 33.299c3.085 1.74 2.53 4.983-1.424 7.197l-88.034 50.226' transform='matrix(-1 0 0 1 565.57 -17.198)')
          path(stroke='url(#wires-right--l)' d='M542.757 159.774l-36.463-20.486c-3.797-2.135-10.836-1.66-15.582 1.028l-58.61 33.458c-3.876 2.215-9.57 2.61-12.735.87l-23.491-13.288c-3.797-2.136-10.836-1.661-15.582 1.028l-43.899 25.074c-2.293 1.344-3.717 2.926-4.033 4.587-.317 1.661.474 3.164 2.372 4.192l30.136 17.006c1.503.87 2.215 2.056 1.898 3.48-.316 1.424-1.423 2.69-3.322 3.797l-43.344 24.678c-3.876 2.214-9.57 2.61-12.735.87l-27.92-15.74c-3.797-2.136-10.837-1.661-15.583 1.028L212.452 260.7c-3.876 2.214-9.57 2.61-12.734.87l-30.61-17.243c-3.797-2.136-10.758-1.661-15.583 1.028l-55.841 31.876c-4.746 2.689-5.537 6.644-1.661 8.78l55.604 31.321' transform='matrix(-1 0 0 1 565.57 -17.198)')
          path(stroke='url(#wires-right--m)' d='M561.424 4.508l-169.187 96.498c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.158-4.587-.237-6.09-1.107L358.7 90.169c-3.797-2.135-10.837-1.66-15.582 1.029l-28.633 16.373c-4.746 2.689-5.537 6.644-1.661 8.858l15.107 8.543c3.164 1.74 2.531 4.983-1.424 7.197l-29.819 17.006c-1.898 1.107-4.27 1.74-6.644 1.898-2.373.159-4.587-.237-6.09-1.107L191.808 98.08c-1.82-1.028-4.509-1.503-7.435-1.265-2.927.158-5.853 1.028-8.147 2.293l-164.045 93.65' transform='matrix(-1 0 0 1 565.57 -17.198)')
          path(stroke='url(#wires-right--n)' d='M453.379 171.085l-90.565-50.938c-1.503-.87-2.215-2.057-1.899-3.48.317-1.424 1.424-2.69 3.322-3.797l8.384-4.746c2.294-1.344 3.718-2.926 4.034-4.587.317-1.661-.553-3.164-2.373-4.192l-54.655-30.769c-3.796-2.135-10.836-1.66-15.582 1.029l-14.237 8.146c-3.876 2.215-9.57 2.61-12.735.87l-19.062-10.677c-1.503-.87-2.214-2.057-1.898-3.48.316-1.424 1.424-2.69 3.322-3.797l19.22-10.995c2.294-1.344 3.718-2.926 4.034-4.587.317-1.661-.474-3.164-2.373-4.192l-70.079-39.47C208.418.396 205.73-.078 202.802.08c-2.926.158-5.853 1.028-8.147 2.294L.712 113.107' transform='matrix(-1 0 0 1 565.57 112.52)')
          path(stroke='url(#wires-right--o)' d='M55.92 294.08L9.65 268.055c-3.164-1.74-2.531-4.983 1.423-7.197l43.899-25.074c2.294-1.344 3.717-2.926 4.034-4.587.316-1.661-.475-3.164-2.373-4.192l-43.108-24.204c-1.502-.87-2.214-2.056-1.898-3.48.317-1.424 1.424-2.69 3.322-3.797l30.452-17.4c4.746-2.69 5.537-6.645 1.661-8.78L2.61 144.35c-3.164-1.74-2.53-4.983 1.424-7.197L75.14 96.497c1.899-1.107 4.271-1.74 6.644-1.898 2.373-.158 4.588.237 6.09 1.107L141.662 126c1.82 1.028 4.508 1.503 7.435 1.345 2.927-.159 5.853-1.029 8.147-2.294L375.548.475' transform='matrix(-1 0 0 1 361.503 7.322)')
