//- Team
article.team#team
  .team__container
    h2.team__title The Team behind Injective Protocol
    .team__list
      .team__members.team__members--justify.team__members--main
        .team__member
          .member__photo
            img(src=require('images/team/eric.jpg')).member__photo-image
          .member__name-container
            span.member__name Eric Chen
            span.member__separator |
            span.member__role CEO
          p.member__info NYU Stern Finance, NYU CS
          p.member__info NYU Blockchain Lab
          p.member__info Protocol researcher at Innovating Capital

        .team__member
          .member__photo
            img(src=require('images/team/albert.jpg')).member__photo-image
          .member__name-container
            span.member__name Albert Chon
            span.member__separator |
            span.member__role CTO
          p.member__info Stanford CS, Applied Cryptography Group
          p.member__info Consultant at OpenZeppelin
          p.member__info Software Engineer at Amazon

        .team__member
          .member__photo
            img(src=require('images/team/max.jpg')).member__photo-image
          .member__name-container
            span.member__name Max Kupriianov
            span.member__separator |
            span.member__role Principal Engineer
          p.member__info HSE University CS
          p.member__info Senior Golang Developer, Blockchain Architect

      .team__members
        .team__member
          .member__photo
            img(src=require('images/team/bojan.jpg')).member__photo-image
          .member__name-container
            span.member__name Bojan Angjelkoski
            span.member__separator |
            span.member__role Frontend Engineer
          p.member__info University of Belgrade CS MS
          p.member__info Senior Full Stack Developer

        .team__member
          .member__photo
            img(src=require('images/team/ivan.jpeg')).member__photo-image
          .member__name-container
            span.member__name Ivan Paskov
            span.member__separator |
            span.member__role Researcher
          p.member__info MIT Mathematics PhD Candidate
          p.member__info Stanford Mathematics and Computer Science

        .team__member
          .member__photo
            img(src=require('images/team/vig.jpeg')).member__photo-image
          .member__name-container
            span.member__name Vighnesh Iyer
            span.member__separator |
            span.member__role Researcher
          p.member__info Berkeley EECS PhD Candidate
          p.member__info ASIC design and hardware optimization
